<div class="container__content">
  <% number_of_links = get_num_of_links(links[:page_links]) %>
  <% container_widths = get_container_widths(links[:navbar].length, -8, side) %>
  <% links[:navbar].each_with_index do |nav_link, index| %>
    <div class="container__content__links container__<%= side %>">
      <div class="container__content__links__background container__<%= side %> container__<%= side %>__links" style="width: <%= container_widths[index] %>%">
        <% link_array_length = links[:page_links][nav_link.description].length %>
        <% (0..number_of_links - 1).each do |index| %>
          <div class="link__page container__<%= side %>" style="width: <%= container_widths.min / number_of_links %>%">
            <% if index < link_array_length %>
              <% file_name = links[:page_links][nav_link.description][index].file %>
              <%= embedded_svg(file_name) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>